
body{
	margin:0px;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

@font-face{
	font-family: formula1-bold;
	src:url('Formula1-Bold.otf') format('opentype');
}
@font-face{
	font-family: formula1;
	src:url(Formula1-Regular.otf) format('opentype');
}
html{
	width: 100%;
	height: 100%;
	background-color:#121212 ;
	font-family:formula1;
	color:white
}

a{
	text-decoration: none;
	color:#E1E2DB;
}

#start{
	display: flex;
	background:radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image6.avif) no-repeat;
	font-family: formula1-bold;
	font-size: 2vw;
	background-position: 0% 80%;
	background-size:cover;
	justify-content: center;
	padding:3em;
	margin-bottom: 0.5em;
}

h1{
	max-width: 60%;
	text-align: center;
}

#title{
	font-family: formula1-bold;
	text-align: left;
}

#head{
	margin-left: 1em;
	margin-bottom: 1.5em;
	font-size: 1.5vw;
}
.break{
	border-width: 0.2em;
	border-color: white;
	margin-bottom: 1em;
}


.heading{
	display: inline;
	font-size: 2.5vw;

}
.block{
	margin-bottom: 20px;
}
.headbutton{
	background-color: #121212;
	color:#E1E2DB;
	border-color:#E1E2DB;
	font-family: 'Titillium Web';
	font-weight: 900;
	padding:0.5em 1.1em;
	text-align: center;
	font-size: 1vw;
	border-radius: 7px;
	margin-left: 1em;
	cursor:pointer;
	transition-duration: 400ms;
	transform: all;
}

.headbutton:hover{
	transform:scale(1.05 );
	border-color: #E10600;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
.arrow{
	border: solid #FC1D1D;
  	border-width: 0 0.2vw 0.2vw 0;
  	display: inline-block;
  	padding: 0.3em;
  	transform: rotate(-45deg);
}

.part{
	transition-duration: 300ms;
	padding:1em;
	padding-left:0em ;
	margin: 1.5vw;

}

.part:hover{
	border: 0.5em solid #E10600;
	border-left: 0px;
	border-radius: 2em;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.container{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;

}

.images{
	width:36em;
	height:27em;
	border-radius:0.5em;
	max-width: 100%;
	height:auto;
}



.content{
	margin-top:-0.3px;
	opacity: 0;
	max-width:34rem;
	text-align: center;
	font-size: 1vw;
	font-weight: 300;
	transition: opacity 800ms ease-in-out;
	
}

.individual{
	margin:10px;
	margin-block:0px;
	
	transition: transform 800ms;
}

.individual:hover{
	transform:scale(1.04);

}
.individual:hover >.content{
	opacity: 1;
}

.final{
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	margin:1em;
}

.result{
	width:70%;
	height:40%;
	border-radius:1em;
	margin:1em;
}

.potrait{
	width:35%;
	height:40%;
	border-radius:0.5em;
	margin:1em;
}





